.peoples {
	padding-top: 20px; 
}
.peoples [class*="col-md-"] {
	margin-bottom: 30px;
}
.people {
	text-align: left;
	padding: 0 0 20px;
	background: #ffffff;
	transition: all 0.3s ease 0s;
	height: 100%; 
	box-sizing: border-box;
	box-shadow: 0 -1px 0 0 transparentize($defaultColor, 0.9) inset;
}
.content-wrapper .people {
	box-shadow: 0 0 0 2px transparentize($defaultColor, 0.93) inset;
	@include br(3px);
}
.people--photo {
    height: 255px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
    @include td(0.3s);
    margin:0;
    box-shadow: 0 0 0 2px rgb(255, 255, 255) inset;
}
.people--contacts {
	margin: 0 20px;
	padding: 10px 0 0;
}
.people--contact {
	padding-top: 5px;
}
.people--contact i {
	color: $accentColor;
	width: 20px;
	height: 20px;
	text-align: center;
}
.content-wrapper .people--photo {
	box-shadow: none;
}
.people--photo_round {
	@include br(300px);
}
.people--name {
    color: $darkColor;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 0 20px;
    font-size: 1.1em;
}
a .people--name span {
	border-bottom: $blink;
	transition: $transition;
}
.people a:hover .people--name span {
	border-bottom: $blinkhover;
	color: $accentColor;
}
.people:hover .people--photo {
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);*/
}
.people--info {
	color: transparentize($defaultColor, 0.3);
	padding: 0 20px;
}
.people--social {
	padding: 10px 20px 0 20px;
}


@media (max-width:767px) {
	.peoples [class*="col-md-"] {
	    height: auto!important;
	    margin-top: 1px;
	    margin-bottom: 1px;
	}	
	.people {
	    box-shadow: none;
	    min-height: 140px;
	    padding: 10px;
	}
	.people--photo {
	    float: left;
	    height: 120px;
	    width: 120px;
	    box-shadow: none;
	}	
	.people--name {
	    margin-bottom: 5px;
	    margin-left: 140px;
	    margin-top: 0;
	    padding: 0;
	}	
	.people--info {
	    font-size: $fsxs;
	    line-height: 1.4em;
	    margin-left: 140px;
	    padding: 0;
	}	
	.people--contacts {
	    margin: 0 0 0 140px;
	    padding: 10px 0 0;
	    border-top: none;
	}
	.people--contact {
	    padding-top: 0;
	}
	.people--contact i {
	    text-align: left;
	}
}

@media (max-width:480px) {	
	.people--contacts {
	    font-size: 0.85em;
	}
}